.input{
    width:40vw;
    height:4vh;
    margin-left: 400px;
    margin-top: 300px;
}

button{
    height: 4vh;
    margin-left:10px;
}

.container{
    margin-left: 400px;

}

.btn{
    border: none;
    background-color: antiquewhite;
}