.testimonial__container{
    width: 750px;
}
.testimonial__card{
   
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
  
}

.testimonial__img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.testimonial__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}


.card__button{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25em;
    cursor: pointer;
}

.card__button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.card__button:hover .card__button-icon{
    transform: translateX(00.25rem);
}

/* Swiper Class */

.swiper-pagination-bullet{
    background-color: var(--text-color)!important;
}
.swiper-pagination-bullet-active{
    background-color: var(--text-color)!important;
}

@media screen and (max-width: 992px){
    .testimonial__container{
        width: initial;
    }
    .testimonial__card{
        padding: 1.25rem;
    }
}

