
  
  h1{
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .logobox {
    background: white;
    padding: 30px 120px;
    height: auto;
    width: 550px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 

