.result{
    margin-left:740px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.resultData{
    margin-left: 700px;
}

.resultWish{
    margin-left: 660px;

}

.restartBtn{
    margin-left: 730px;
}