.page{
    background-image: url('https://images.unsplash.com/photo-1610552050890-fe99536c2615?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.logoBox {
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
}
.text{
    color:white;
}

.logoBox h2 {
    margin-bottom: 20px;

}

.logoBox button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: bold;
    font-size: 15px;
   
    cursor: pointer;

}

.googlelogo{
    margin-right: 10px;
}

.logoBox span {
    display: block;
    width: 40px;
    margin: auto;
    background: white;
    font-size: 18px;
    margin-top: -12px;
}

.logoBox p {
    font-size: 12px;
}

.lastLine{
    margin-top: 25px;
    color:white;
    font-weight: 700;
    font-size: 15px;
    
}

a:hover {
   cursor: pointer; 
  }

@media (max-width: 768px) {
    .logoBox {
      padding: 20px;
      width: 90%;
      max-width: 400px;
      margin-bottom: 50px;
    }
  }