.container{
    margin-left: 720px;
    margin-top: 60px;
}

.question{
    margin-left: 620px;
    
}

.questionNumber{
    margin-left: 720px;
    margin-bottom: 30px;

}

.btn{
    margin-left: 740px;
    margin-top: 30px;

}

.time{
    margin-left: 1200px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}